/* grow html and body to fullscreen */
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* layout flex */
#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* grow body part so footer always goes bottom */
#main {
  flex-grow: 1;
}
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
